@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-family-mono: Consolas, monaco, monospace;
}

.title {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
}

.prose {
  color: white;
}

.prose h2 {
  color: white;
}

.prose a {
  color: white;
}

.prose strong {
  color: white;
}
