@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-family-mono: Consolas;
}

/* .prose {
  color: white;
}

.prose h2 {
  color: white;
}

.prose a {
  color: white;
}

.prose strong {
  color: white;
} */
